@use "./variables" as *;

// BREAKPOINTS
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//PADDING -- MOBILE
@mixin padding-mobile-headline {
  padding-top: 1.5rem; //padding before headlines
  padding-bottom: 1rem; //padding after headlines
}

@mixin padding-mobile-component {
  padding: 1rem; //padding between components
}

//PADDING -- DESKTOP/TABLET
@mixin padding-desktop-tablet-headline {
  padding-top: 2.25rem; //padding before headlines
  padding-bottom: 1.5rem; //padding after headlines  
}

@mixin padding-desktop-tablet-component {
  padding: 0 1.5rem; //padding between components
}

//MARGINS - DESKTOP Viewport beyond 63.75rem width
@mixin desktop-margin {
  width: $desktop-margin; //63.75rem
  margin-left: auto;
  margin-right: auto;
}

//Divider Line
@mixin divider {
  border-bottom: .0625rem solid $mercury;
}
