/*
COLOR VARIABLES
*/
//primary colors
$BrainFlix-Black: #323232; //primary text
$BrainFlix-Blue: #0095ff; //primary CTA + active form field outline
$silver: #afafaf; //secondary text + text label color
$white: #ffffff; //background + CTA text color 

//secondary colors
$BrainFlix-DarkBlack: #000000; // Video player components
$BrainFlix-DarkBlue: #0065ad; // CTA hover state
$mercury: #e1e1e1; //Divider line + Form field outline 
$alabaster: #fafafa; // Form Field background 

/*
BREAKPOINT VARIABLES
*/
$phone-breakpoint: 320px; //320px - 767px
$tablet-breakpoint: 768px; //768px - 1279px
$desktop-breakpoint: 1280px; //1280px+

//DESKTOP MARGIN VARIABLE
$desktop-margin: 1020px; // (24*11)+(63*12)
