@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  @include padding-mobile-component;

  @include tablet {
    flex-direction: row;
    padding: 1rem 2.25rem 1rem 2.25rem;
  }

  @include desktop {
    @include desktop-margin;
  }

  &__logo {
    height: 1.5625rem;
    width: 7.5rem;
    padding-bottom: 1rem;
    text-decoration: none;

    @include tablet {
      padding: 0;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__search {
    background: url(../../assets/images/search.svg) no-repeat scroll 0.4375rem
      0.6875rem;
    padding: 0 0 0 1.875rem;
    height: 2.5rem;
    width: 66%;
    border: 0.0625rem solid $mercury;
    border-radius: 0.25rem;
    margin: 0 1rem 1rem 0;
    flex-grow: 1;
    background-color: $alabaster;

    &:focus {
      border: 0.125rem solid $BrainFlix-Blue;
    }

    &--error {
      border: 0.0625rem solid $error;
    }

    @include tablet {
      width: 15rem;
      margin: 0 1.5rem 0 0;
      flex-grow: 0;
    }

    @include desktop {
      margin: 0 2rem 0 0;
    }
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      order: 1;
      margin-left: 1.5rem;
    }

    @include desktop {
      margin-left: 2rem;
    }
  }

  &__upload {
    background-color: $BrainFlix-Blue;
    color: $white;
    @include mobile-labels-buttons;
    font-size: 0.8125rem;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none;

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
      width: 100%;
    }

    &-link {
      width: 100%;
      text-decoration: none;

      @include tablet {
        width: 25%;
      }
    }

    &-icon {
      align-self: flex-start;
    }
  }
}
