@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  @include padding-mobile-component;
  @include tablet {
    flex-direction: row;
    padding: 16px 24px 16px 24px;
  }
  @include desktop {
    @include desktop-margin;
  }

  &__logo {
    height: 25px;
    width: 120px;
    padding-bottom: 16px;
    @include tablet {
      padding: 0;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__search {
    background: url(../../assets/images/search.svg) no-repeat scroll 7px 11px;
    padding: 0 0 0 30px;
    height: 40px;
    width: 66%;
    border: 1px solid $mercury;
    border-radius: 4px;
    margin: 0 16px 16px 0;
    flex-grow: 1;
    &:focus {
      border: 2px solid $BrainFlix-Blue;
    }
    &--error {
      border: 1px solid $error;
    }
    @include tablet {
      width: 240px;
      margin: 0 24px 0 0;
      flex-grow: 0;
    }
    @include desktop {
      margin: 0 32px 0 0;
    }
  }

  &__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    @include tablet {
      order: 1;
      margin-left: 24px;
    }
    @include desktop {
      margin-left: 32px;
    }
  }

  &__upload {
    background-color: $BrainFlix-Blue;
    color: $white;
    @include mobile-labels-buttons;
    font-size: 13px;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none;
    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }
    @include tablet {
      width: 150px;
    }
    &-icon {
      align-self: flex-start;
    }
  }
}
