@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload {
  border-top: 1px solid $mercury;
  padding: 0 16px 0 16px;

  @include tablet {
    padding: 0 24px 0 24px;
  }

  @include desktop {
    @include desktop-margin;
  }

  &__header {
    margin: 0;
    @include mobile-page-header;
    @include padding-mobile-headline;

    @include tablet {
      @include desktop-tablet-page-header;
      @include padding-desktop-tablet-headline;
      @include divider;
    }
  }

  &__thumbnail {
    width: 100%;
    border-radius: 4px;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }

    &-container {
      display: flex;
      flex-direction: column;

      @include tablet {
        margin-top: 24px;
      }

      @include desktop {
        width: 50%;
        margin: 0 24px 0 0;
      }
    }

    &-header {
      margin: 0;
      @include mobile-body-copy;
      color: $silver;

      @include tablet {
        @include desktop-tablet-body-copy;
      }
    }
  }

  &__form {
    margin: 16px 0 16px 0;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include divider;
      padding-bottom: 24px;
    }

    &-inputs {
      display: flex;
      flex-direction: column;

      @include tablet {
        @include divider;
        padding-bottom: 16px;
      }

      @include desktop {
        border-bottom: none;
        padding: 0;
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  &__title {
    @include mobile-body-copy;
    color: $silver;

    @include tablet {
      @include desktop-tablet-body-copy;
      margin-top: 16px;
    }

    &-input {
      color: $BrainFlix-Black;
      background-color: $alabaster;
      resize: none;
      border-radius: 0.25rem;
      padding: 0.625rem;
      border: 0.0625rem solid #e1e1e1;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      font-family: "Avenir Next";

      &::placeholder {
        color: $BrainFlix-Black;
        padding: 0;
        font-family: "Avenir Next";
      }

      &:focus {
        border: 0.125rem solid $BrainFlix-Blue;
      }

      @include tablet {
        height: 2.5rem;
      }

      &--error {
        border: 0.0625rem solid $error;
      }
    }
  }

  &__description {
    @include mobile-body-copy;
    color: $silver;
    margin-top: 16px;

    @include tablet {
      @include desktop-tablet-body-copy;
    }

    @include desktop {
    }

    &-input {
      color: $BrainFlix-Black;
      background-color: $alabaster;
      resize: none;
      border-radius: 0.25rem;
      padding: 0.625rem;
      margin-bottom: 1rem;
      border: 0.0625rem solid #e1e1e1;
      box-sizing: border-box;
      width: 100%;
      height: 90px;
      font-family: "Avenir Next";

      &::placeholder {
        color: $BrainFlix-Black;
        padding: 0;
        font-family: "Avenir Next";
      }

      &:focus {
        border: 0.125rem solid $BrainFlix-Blue;
      }

      @include tablet {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &--error {
        border: 0.0625rem solid $error;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @include tablet {
      padding-top: 16px;
      flex-direction: row-reverse;
    }
  }

  &__publish {
    @include mobile-labels-buttons;
    background-color: $BrainFlix-Blue;
    color: $white;
    font-size: 13px;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none;
    margin-bottom: 16px;

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
      @include desktop-tablet-labels-buttons;
      width: 180px;
    }

    &-link {
      text-decoration: none;
    }

    &-icon {
      align-self: flex-start;
    }
  }

  &__cancel {
    @include mobile-labels-buttons;
    background-color: $white;
    color: $BrainFlix-Blue;
    font-size: 13px;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none;

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
      @include desktop-tablet-labels-buttons;
      width: 180px;
    }

    &-icon {
      align-self: flex-start;
    }
  }
}
