@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-nav {
  display: flex;
  flex-direction: column;
  max-width: 325px;

  @include tablet {
    width: 325px;
    align-items: flex-start;
  }

  @include desktop {
    border-left: 1px solid $mercury;
  }

  &__subheader {
    color: $silver;
    @include mobile-sub-header;
    margin: 16px 16px 0 16px;
    padding: 16px 16px 0 0;
    @include tablet {
      margin: 24px 0 0 24px;
      padding: 0;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__link {
    text-decoration: none;
  }

  &__link-box {
    display: flex;
    flex-wrap: wrap;
    @include padding-mobile-component;
    padding-bottom: 0; // padding: 16px 16px 0 16px;
    @include tablet {
      padding: 16px 0 0 24px;
    }
  }

  &__title {
    @include mobile-labels-buttons;
    font-size: 12px;
    margin: 0;
    color: $BrainFlix-Black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include tablet {
      overflow: visible;
      white-space: normal;
      text-overflow: inherit;
    }
  }

  &__channel {
    @include mobile-body-copy;
    font-size: 10px;
    margin: 0;
    color: $BrainFlix-Black;
  }

  &__image {
    width: 36%;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    background-color: $mercury;
  }

  &__text-box {
    width: 58%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: space-between;
  }
}
