@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-nav {
  display: flex;
  flex-direction: column;
  max-width: 20.3125rem;

  @include tablet {
    width: 20.3125rem;
    align-items: flex-start;
  }

  @include desktop {
    border-left: .0625rem solid $mercury;
  }

  &__subheader {
    color: $silver;
    @include mobile-sub-header;
    margin: 0 1rem 0 1rem;
    padding: 1rem 1rem 0 0;

    @include tablet {
      margin: 1.5rem 0 0 2.25rem;
      padding: 0;
    }

    @include desktop {
      margin: 2.25rem 0 0 1.5rem;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;

    @include tablet {
      margin-top: .5rem;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__link-box {
    display: flex;
    flex-wrap: wrap;
    @include padding-mobile-component;
    padding: 0 1rem 1rem 1rem;

    @include tablet {
      padding: 1.25rem 0 0 2.25rem;
    }

    @include desktop {
      padding: 1.5rem 0 0 1.5rem;
    }
  }

  &__title {
    @include mobile-sub-header;
    font-size: .75rem;
    margin: 0;
    color: $BrainFlix-Black;
  }

  &__channel {
    @include mobile-body-copy;
    font-size: .625rem;
    margin: 0;
    color: $BrainFlix-Black;

    @include tablet {
      font-size: .75rem;
    }
  }

  &__image {
    width: 36%;
    height: 3.75rem;
    object-fit: cover;
    border-radius: .25rem;
    background-color: $mercury;
  }

  &__text-box {
    width: 58%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-between;
  }
}
