@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $BrainFlix-DarkBlack;
  // background-image: url(../../assets/images/play.svg) no-repeat scroll 7px 11px;
  &__current {
    width: 100%;
  }
  @include tablet {
    @include desktop-margin;
    width: 800px;
  }
  @include desktop {
    @include desktop-margin;
    width: 900px;
    background-color: $BrainFlix-DarkBlack;
  }
  // &__controls{}
  // &__button {
  //   &-play {
  //   }
  //   &-pause {
  //   }
  //   &-volume {
  //   }
  // }
}
