@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  padding: 1rem 1rem 0 1rem;

  @include tablet {
    padding: .5rem 2.25rem 0 2.25rem;
  }

  @include desktop {
    padding: 1.5rem 0 0 0;
  }

  &__amount {
    @include mobile-sub-header;
    margin: 0 0 1rem 0;
  }

  &__form {
    display: flex;
    width: 100%;
    @include divider;

    @include tablet {
      flex-direction: row;
      padding-bottom: 1.5rem;
    }
  }

  &__invitation {
    @include mobile-sub-header;
    color: $silver;
  }

  &__avatar {
    background-color: $mercury;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    flex: none;
    margin-right: 1rem;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1.5rem;
    }

    @include desktop {
      margin-right: 2.25rem;
    }

    &--mohan {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      object-fit: cover;
      margin: 1rem 1rem 0 0;

      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
      }

      @include desktop {
        margin: 1rem 2.25rem 0 0;
      }
    }
  }

  &__cta {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      align-items: flex-end;
    }

    &-box {
      display: flex;
      flex-direction: column;
      @include tablet {
        width: 100%;
      }
    }
  }

  &__input {
    color: $BrainFlix-Black;
    background-color: $alabaster;
    resize: none;
    border-radius: .25rem;
    padding: .625rem;
    margin-bottom: 1rem;
    border: .0625rem solid #e1e1e1;
    box-sizing: border-box;
    width: 100%;
    height: 6.5625rem;
    font-family: "Avenir Next";

    &::placeholder {
      color: $BrainFlix-Black;
      padding: 0;
      font-family: "Avenir Next";
    }

    &:focus {
      border: .125rem solid $BrainFlix-Blue;
    }

    @include tablet {
      height: 2.5rem;
      flex-shrink: 1;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &--error {
      border: .0625rem solid $error;
    }
  }

  &__button {
    background-color: $BrainFlix-Blue;
    color: $white;
    @include mobile-labels-buttons;
    font-size: .8125rem;
    height: 2.5rem;
    width: 100%;
    border-radius: .25rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none;

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
      width: 18.75rem;
      margin: 0 0 0 1.5rem;
    }

    @include desktop {
      margin: 0 1.5rem 0 1.5rem;
    }

    &-icon {
      align-self: flex-start;
    }
  }

  &__container {
    @include divider;
    margin-top: 1rem;
    display: flex;

    @include tablet {
      margin-top: 1.5rem;
    }

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name {
    @include mobile-sub-header;
    margin: 0;
    
    @include tablet {
      @include desktop-tablet-sub-header;
      font-size: .9375rem;
    }
  }

  &__timestamp {
    color: $silver;
    @include mobile-body-copy;

    @include tablet {
      @include desktop-tablet-body-copy;
      font-size: .9375rem;
    }
  }

  &__comment {
    margin-top: .5rem;
    @include mobile-body-copy;

    @include tablet {
      @include desktop-tablet-body-copy;
      margin-bottom: 1.5rem;
      margin-top: .125rem;
    }
  }
}
