//link components' SASS Styling
@use "./components/Header/Header.scss" as *;
@use "./components/VideoPlayer/VideoPlayer.scss" as *;
@use "./components/VideoNav/VideoNav.scss" as *;
@use "./components/VideoDetails/VideoDetails.scss" as *;
@use "./components/Comments/Comments.scss" as *;

//link partials SASS Styling
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.App {
  font-family: "Avenir Next";
  background-color: $white;

  &__video-content {
    @include desktop {
      background-color: $white;
      display: flex;
      @include desktop-margin;
    }
  }
  
  &__video-text {
    @include desktop {
      background-color: $white;
      display: flex;
      flex-direction: column;
      width: 70%;
    }
  }
}
