@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-details {
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    @include desktop-margin;
    padding-left: 0;
  }

  &__title {
    @include mobile-page-header;
    @include padding-mobile-headline;
    margin: 0;
    @include divider;

    @include tablet {
      @include desktop-tablet-page-header;
      @include padding-desktop-tablet-headline;
      border-bottom: none;
      padding-bottom: 1rem;
    }

    @include desktop {
      width: 43.125rem;
    }
  }

  &__container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include divider;

    @include tablet {
      padding: 0 0 .625rem 0;
    }

    @include desktop {
      width: 43.125rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include tablet {
      flex-direction: row;
      width: auto;
    }

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__creator {
    @include mobile-sub-header;
    padding-bottom: 1rem;

    @include tablet {
      padding: 0 1.25rem 0 0;
      @include desktop-tablet-sub-header;
    }
  }

  &__date {
    @include mobile-body-copy;
    color: $silver;

    @include tablet {
      @include desktop-tablet-body-copy;
    }
  }

  &__views {
    padding-bottom: 1rem;

    @include tablet {
      padding: 0 1.25rem 0 0;
    }
  }

  &__views,
  &__likes {
    display: flex;
    align-items: flex-start;

    &-icon {
      padding-right: .4375rem;
    }

    &-amount {
      @include mobile-body-copy;
      color: $silver;

      @include tablet {
        @include desktop-tablet-body-copy;
      }
    }
  }

  &__description {
    @include mobile-body-copy;
    margin-bottom: 0;

    @include tablet {
      margin: 1.5rem 0 1.5rem 0;
      @include desktop-tablet-body-copy;
    }

    @include desktop {
      width: 66%;
    }
  }
}
